@charset "utf-8";
/* CSS Document */

.table1 {
	max-width:100%;
}

.table1 td,.table1 th {
	border-style:solid;
	border-width:1px;
	border-color:#666;
}

.table1 th {
	background-color:#eee;
}

.table1 td {
	padding:5px;
}

.jtpl-slope {
    height: 50px !important;
}

/**
 * swiper.js
 */

a.cp_btn {
	clear:both;
	margin:0px auto;
	display: block;
	text-decoration:none;
	width: 70%;
	padding: 10px;
	text-align: center;
	color: #FFF;
	border-radius: 4px;
	overflow: hidden;
	font-size:2em;
}

	.c1 {
	background: #ff0000;
	}
	
	.c2 {
	background: #33cccc;
	}
	
a.cp_btn span {
	display:inline-block;
	transition: .5s
	}

a.cp_btn:hover span {
transform: rotateX(360deg);
	color: #FFF;
}
