@charset "utf-8";
/* CSS Document */

.jtpl-slope {
    height: 50px !important;
}

/**
 * swiper.js
 */

a.cp_btn {
	clear:both;
	margin:0px auto;
	display: block;
	text-decoration:none;
	width: 70%;
	padding: 10px;
	text-align: center;
	color: #FFF;
	border-radius: 4px;
	overflow: hidden;
	font-size:2em;
}

	.c1 {
	background: #1A9C5C;
	}
	
	.c2 {
	background: #1A9C5C;
	}
	
a.cp_btn span {
	display:inline-block;
	transition: .5s
	}

a.cp_btn:hover span {
transform: rotateX(360deg);
	color: #FFF;
}

@media screen and (max-width: 799px) {

/*** レスポンシブテーブルデザイン ***/
.shokai{
  width:100%;
  border: 2px solid #d6ceb4;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}
 
.shokai th{
  padding: 6px 8px 5px;
  border-top: solid 1px #ffffff;
  width: 20%;
  overflow: hidden;
  color: #13131e;
  font-style: normal;
  font-weight: bold;
  font-size: 100%;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
  vertical-align: top;
  background-color: #eeece4;
}
 
.shokai td{
padding: 5px 10px;
text-align: left;
vertical-align: top;
color: #595960;
background-color: #ffffff;
border-top: dotted 1px #e0dccc;
overflow: hidden;
word-break: break-all;
word-wrap: break-word;
}
	
.shokai th{
  width:auto;
  display:block;
  margin: 0 auto;
  border:none;
  border-radius: 3px;
}
.shokai td{
  display: list-item;
  width: auto;
  border-top: none !important;
}
	
}/* end */


@media screen and (min-width: 800px) {

h1 {
	padding-top: 60px !important;
	padding-bottom: 30px !important;
}
	
h2 {
	padding-top: 40px !important;
	padding-bottom: 20px !important;
}

h3 {
	padding-top: 30px !important;
	padding-bottom: 15px !important;
}
	
.c1 {
	background: #1A9C5C;
	}
	
.c2 {
	background: #1A9C5C;
	}
	
/*** レスポンシブテーブルデザイン ***/
.shokai{
  width:100%;
  border: 2px solid #d6ceb4;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}
 
.shokai th{
  padding: 6px 8px 5px;
  border-top: solid 1px #ffffff;
  width: 20%;
  overflow: hidden;
  color: #13131e;
  font-style: normal;
  font-weight: bold;
  font-size: 100%;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
  vertical-align: top;
  background-color: #eeece4;
}
 
.shokai td{
padding: 5px 10px;
text-align: left;
vertical-align: top;
color: #595960;
background-color: #ffffff;
border-top: dotted 1px #e0dccc;
overflow: hidden;
word-break: break-all;
word-wrap: break-word;
}
	
}
