@charset "utf-8";
/* CSS Document */

@media screen and (min-width: 800px) {
h1 {
	background-image:url(https://ebiken55.github.io/io/h1.png) !important;
	background-repeat:no-repeat !important;
	height:61px !important;
	width:100% !important;
	color:#FFF !important;
	font-weight:bold !important;
	font-size:20pt !important;
	padding-top:16px !important;
	padding-left:30px !important;
}

h2 {
	background-image:url(https://ebiken55.github.io/io/h2.png) !important;
	background-repeat:no-repeat !important;
	height:50px !important;
	width:100% !important;
	color:#FFF !important;
	font-weight:bold !important;
	font-size:18pt !important;
	padding-top:11px !important;
	text-align:center !important;
}
}

@media screen and (max-width: 799px) {

h1 {
	background-image:url(https://ebiken55.github.io/io/h1.png) !important;
	background-repeat:no-repeat !important;
	height:61px !important;
	width:91% !important;
	color:#FFF !important;
	font-weight:bold !important;
	font-size:20pt !important;
	padding-top:16px !important;
	padding-left:30px !important;
}

h2 {
	background-image:url(https://ebiken55.github.io/io/h2.png) !important;
	background-repeat:no-repeat !important;
	height:50px !important;
	width:100% !important;
	color:#FFF !important;
	font-weight:bold !important;
	font-size:18pt !important;
	padding-top:11px !important;
	text-align:center !important;
}
}

    .gc_wrapper {
      max-width: 800px; 
      min-width: 300px; 
      margin: 2.0833% auto;
    }
     
    .responsive-iframe-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
    .responsive-iframe-container iframe,   
    .responsive-iframe-container object,  
    .responsive-iframe-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 92%;
        height: 100%;
    }
     
@media (max-width: 800px) {
.big-container {
display: none;
}
.small-container {
padding-bottom: 200%;   /* 高さ */
}
}

@media (min-width: 799px) {
.small-container {
            display: none;
}
}
