@charset "utf-8";
/* CSS Document */

h1 {
	background-image:url(https://ebiken55.github.io/io/h1.png) !important;
	background-repeat:no-repeat !important;
	height:61px !important;
	width:100% !important;
	color:#FFF !important;
	font-weight:bold !important;
	font-size:20pt !important;
	padding-top:15px !important;
	padding-left:25px !important;
}
