@charset "utf-8";
/* CSS Document */

.jtpl-content  {
      background-color: rgba(179,0,0,.5);
}

.jtpl-sidebar  {
      background-color: rgba(140,140,140,.5);
}

.jtpl-footer  {
      background-color: rgba(30,30,30,.5);
}
