@charset "utf-8";
/* CSS Document */

.jtpl-content  {
      background-color: rgba(179,0,0,.5);
}

.jtpl-sidebar  {
      background-color: rgba(140,140,140,.5);
}

.jtpl-footer  {
      background-color: rgba(30,30,30,.5);
}

.j-website-title-content {
    text-align: center;
}

h1 {
      color:#0066b7 !important;
      font-weight:bold !important;
    text-shadow: 2px 2px 1px #fff,
             -2px 2px 1px #fff,
             2px -2px 1px #fff,
             -2px -2px 1px #fff;
}
