/* パソコンサイズ */

/* @media screen and (min-width: 800px) { */
/*  Typo
----------------------------------------------- */

a:link, a:visited
{
    text-decoration: none;
    color:#1A4CC5;
}
a:active { 	text-decoration: none; }
a:hover { text-decoration: none; }


h1 { font:bold 18px/140% "Trebuchet MS", Verdana, sans-serif; }
h2 { font:bold 14px/140% "Trebuchet MS", Verdana, sans-serif; }

p {	font: 11px/140% Verdana, Geneva, Arial, Helvetica, sans-serif;}

/*  Layout
----------------------------------------------- */
html {
	height:100%;
}

body {
    background: url(images/bg.jpg) no-repeat top center;
	background-attachment:fixed;
    margin:0;
    font: 11px/140% Verdana, Geneva, Arial, Helvetica, sans-serif;
	height:100%;
}

.obi {
	width:100%;
	margin:0 auto;
	height:30px;
	background-color:#99C775;
}

.obi div {
	font-size:8pt;
	color:#FFF;
	text-align:center;
	padding-top:5px;
}

#container
{
    margin:0 auto;
    width:980px;
}

#header
{
	height:145px;
}

#logoimg {
	float:left;
	margin-top:38px;
}

#txtlink1 {
	float:right;
	margin-top:38px;
	font-size:9pt;
}

#header a:hover { text-decoration:none;  }


#navigation
{
    width:980px;

}
#sidebar
{
    padding-top:10px;
}

#content
{
    width:980px;
	padding-top:17px;
	padding-bottom:17px;
	padding-left:0px;
	padding-right:0px;
}

#footer
{
    clear:both;
    margin:0 auto;
	width:980px;
	margin-top:38px;
}

#footer .gutter 
{
	
}

.bgwhite {
	margin:0px;
	padding:0px;
	width:100%;
	background-color:#FFF;
	height:100%;
	min-height: 100%;
}

/*  Navigation
----------------------------------------------- */

ul.mainNav1,
ul.mainNav2
{
    margin:0;
    padding: 0;
}


ul.mainNav1 li,
ul.mainNav2 li
{
    display: inline;
    margin: 0;	
    padding: 0;
}


ul.mainNav1 li a,
ul.mainNav2 li a
{
    font:normal 11px/140% Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    color:#333;
    border-bottom:1px solid #CCC;
}


ul.mainNav1 li a { padding:4px 4px 4px 4px; }
ul.mainNav2 li a { padding:4px 4px 4px 14px; }
ul.mainNav3 li a { padding:4px 4px 4px 24px; }


ul.mainNav1 a:hover
{
    background:#EEE;
    color:black;
}

ul.mainNav1 a.current { font-weight:bold; }
 /* } */


/* モバイルサイズ */

@media screen and (max-width: 799px) {
	
}
